.btn-enter {
    padding: 12px 40px;
    background-color: var(--main-color-secondary);
    border-radius: 1000px;
    color: var(--bg-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

    &:hover {
        background-color: var(--main-color);
    }

    &:active {
        background-color: var(--main-color);
        transform: scale(0.98);
    }
}

.btn-create {
    padding: 16px 40px;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border-radius: 1000px;
    width: 230px;

    &:hover {
        background-color: var(--bg-color);
        color: var(--main-color-secondary);
        outline: 2px solid var(--main-color);
    }

    &:active {
        background-color: var(--bg-color);
        transform: scale(0.98);
    }
}