.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 90px 0;

    &__company {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__privacy {
        color: var(--main-color-secondary);
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        margin: 0;

        &:hover {
            color: var(--main-color);
        }
        
    }

    &__guide {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    &__link {
        font-size: 16px;
        color: var(--main-color-secondary);
        font-weight: 400;
        line-height: 130%; /* 20.8px */
        text-align: center;
        font-style: normal;

        &:hover {
            color: var(--main-color);
        }
    }

    &__feedback {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: flex-end;

        
    }
}

.mob-footer {
    display: flex;
    flex-direction: row;
    gap: 324px;
    
}

.social {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 24px;

    &__pics {
        display: flex;
        gap: 8px;
    }

    &__link {
        
        & > svg {
            fill: var(--secondary-text);
        }

        &:hover {
            & > svg {
                fill: var(--main-color);
            }
        }
    }

    &__phone {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__number {
        color: var(--main-color-secondary);

        &:hover {
            color: var(--main-color);
        }
    }
}

@media (max-width: $tablet-bp) {
    .footer {
        padding: 30px 20px;
        display: flex;
        flex-direction: row;
        gap: 78px;
    }

    .mob-footer {
        gap: 78px;
    }
}

@media (max-width: $mobile-bp) {
    .footer {
        gap: 40px;

        &__social {
            text-align: end;
            position: relative; top: 25px;
        }
    }

    .mob-footer {
        gap: 23px;
    }
}




