.header {
    display: flex;
    align-items: center;
    position: relative;
    padding: 12px 0;
    justify-content: space-between;
}

@media (max-width: $tablet-bp) {
    .header {
        padding: 20px;
    }
}

@media (max-width: $mobile-bp) {
    .header {
        padding: 20px;
        justify-content: space-between;
    }
}




