.nav {
    display: flex;
    align-items: center;
    gap: 79px;

    &__menu-logo {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    &__logo {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;       
    }

    &__burger {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }
  
}

.menu {
    display: flex;

    &__link {
        padding: 16px 24px;
        color: var(--main-color-secondary);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;

        &:hover {
            color: var(--main-color);
        }
    }
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    
}

.phone {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 4px;

    &__number {
        color: var(--main-color-secondary);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;

        &:hover {
            color: var(--main-color);
        }
    }
    
    &__time {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        color: var(--secondary-text);
    }
}

.folder {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media (max-width: $tablet-bp) {
    .nav {
        gap: 211px;

        &__burger {
            opacity: 1;
            position: absolute;
        }

        &__logo {
            margin-left: 33px;
        }

        &__menu-logo {
            align-items: center;
        }
    }

    .menu {
        position: absolute;
        opacity: 0;
        pointer-events: none
    }
}

@media (max-width: $mobile-bp) {
    .nav {
        gap: 48px;
        
    }

    .phone {
        position: absolute;
        opacity: 0;
        pointer-events: none
    }

}
