<div class="dialog-reg" id="dialog-reg" aria-labelledby="dialog-reg" aria-hidden="true">
    <div class="dialog__overlay" data-a11y-dialog-hide="true"></div>

    <div class="forms">
        <div class="sign-in sign-in_active">
            <h4 class="forms__title h4">Авторизация</h4>
            <div class="forms__btns">
                <button class="btn-reg sign-in__sign-in-btn sign-in__sign-in-btn_active reset-btn" >Вход</button>
                <button class="btn-reg sign-in__sign-up-btn reset-btn" type="button">Регистрация</button>
            </div>

            <form class="forms__internals">
                <div class="forms__data">
                    <label class="forms__label" for="auth-name">E-mail</label>
                    <input class="forms__input" type="text" name="auth-name" id="auth-name">
                </div>
                <div class="forms__data">
                    <label class="forms__label" for="auth-pass">Пароль</label>
                    <input class="forms__input" type="text" name="auth-pass" id="auth-pass">
                    <a href="#" class="forms__link text-paswrd reset-link">Восстановить пароль</a>
                </div>
            </form>
            <div class="forms__btn-and-text">
                <button class="forms__b-sing btn-create reset-btn">Войти</button>
            </div>           
        </div>

        <div class="sign-up">
            <h4 class="forms__title h4">Регистрация</h4>
            <div class="forms__btns">
                <button class="btn-reg sign-up__sign-in-btn reset-btn" type="button">Вход</button>
                <button class="btn-reg sign-up__sign-up-btn sign-up__sign-up-btn_active reset-btn" type="button">Регистрация</button>                
            </div>
            <form class="forms__internals">                
                <div class="forms__data">
                    <label class="forms__label" for="auth-pass">Имя</label>
                    <input class="forms__input" type="text" name="auth-pass" id="auth-pass">
                </div>
                <div class="forms__data">
                    <label class="forms__label" for="auth-name">Фамилия</label>
                    <input class="forms__input" type="text" name="auth-name" id="auth-name">
                </div>
                <div class="forms__data">
                    <label class="forms__label" for="auth-pass">Телефон</label>
                    <input class="forms__input" type="text" name="auth-pass" id="auth-pass">
                </div>
                <div class="forms__data">
                    <label class="forms__label" for="auth-name">E-mail</label>
                    <input class="forms__input" type="text" name="auth-name" id="auth-name">
                </div>
                <div class="forms__data">
                    <label class="forms__label" for="auth-pass">Пароль</label>
                    <input class="forms__input" type="text" name="auth-pass" id="auth-pass">
                    <hr>
                    <p class="forms__link text-paswrd_pass reset-link">Пароль должен содержать не менее 8 символов, латиницу, цифры, один из символов (!$#%)</p>
                </div>
                <div class="forms__data">
                    <label class="forms__label" for="auth-name">Подтверждение пароля</label>
                    <input class="forms__input" type="text" name="auth-name" id="auth-name">
                </div>

                <div class="forms__checkbox-group">
                    <input class="form-auth__checkbox" type="checkbox" name="auth-in-radio" id="auth-in-radio">
                    <label class="form-auth__checkbox-label advantages-info" for="auth-in-radio">Согласен с Privacy policy</label>
                </div>
            </form>

            <div class="forms__btn-and-text">
                <button class="forms__b-sing btn-create reset-btn">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</div>