<header class="header container">
    <nav class="header__nav nav">
        <a class="nav__logo" href="/">
            <picture>
                <img src="./assets/images/logo.svg" alt="logo">
            </picture>
        </a>

        <ul class="nav__menu menu reset-list">
            <li><a href="#" class="menu__link reset-link">О сервисе</a></li>
            <li><a href="#" class="menu__link reset-link">Как работает</a></li>
            <li><a href="#" class="menu__link reset-link">Кому выгодно</a></li>
            <li><a href="#" class="menu__link reset-link">Контакты</a></li>
        </ul>
    

        <div class="header__contacts contacts">
            <div class="contacts__phone phone">
                <a href="tel:+78003501005" class="phone__number reset-link">+7 (800) 350-10-05</a>
                <div class="phone__time">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewBox="0 0 8 9" fill="none">
                        <circle cx="4" cy="4.5" r="4" fill="#0DC268"/>
                    </svg>
                    ПН-ПН 09:00-18:00             
                </div>
            </div>

            <button class="contact__btn btn-enter reset-btn" type="button">
                Войти
            </button>
        </div>
    </nav>
</header>
