<header class="header container">

    <nav class="nav">

        <div class="nav__menu-logo">
            <button class="nav__burger toggle-menu reset-btn" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="14" viewBox="0 0 18 14" fill="none">
                    <path d="M18 0.83032C18 1.25068 17.6922 1.59808 17.2928 1.65306L17.1818 1.66064L0.818182 1.66064C0.366312 1.66064 0 1.28889 0 0.83032C0 0.409961 0.307804 0.0625608 0.707159 0.00757984L0.818182 0L17.1818 0C17.6337 0 18 0.371747 18 0.83032Z" fill="#130F26"/>
                    <path d="M18 6.83032C18 7.25068 17.6922 7.59808 17.2928 7.65306L17.1818 7.66064L0.818182 7.66064C0.366312 7.66064 0 7.28889 0 6.83032C0 6.40996 0.307804 6.06256 0.707159 6.00758L0.818182 6L17.1818 6C17.6337 6 18 6.37175 18 6.83032Z" fill="#130F26"/>
                    <path d="M18 12.8303C18 13.2507 17.6922 13.5981 17.2928 13.6531L17.1818 13.6606L0.818182 13.6606C0.366312 13.6606 0 13.2889 0 12.8303C0 12.41 0.307804 12.0626 0.707159 12.0076L0.818182 12L17.1818 12C17.6337 12 18 12.3717 18 12.8303Z" fill="#130F26"/>
                </svg>
            </button>

            <a class="nav__logo" href="/">
                <picture>
                    <img src="./assets/images/logo.svg" alt="logo">
                </picture>
            </a>
        </div>

        <ul class="nav__menu menu reset-list">
            <li><a href="#" class="menu__link reset-link">О сервисе</a></li>
            <li><a href="#" class="menu__link reset-link">Как работает</a></li>
            <li><a href="#" class="menu__link reset-link">Кому выгодно</a></li>
            <li><a href="#" class="menu__link reset-link">Контакты</a></li>
        </ul>
        
        <div class="header__contacts contacts">
            <div class="contacts__phone phone">
                <a href="tel:+78003501005" class="phone__number reset-link">+7 (800) 350-10-05</a>
                <div class="phone__time">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewBox="0 0 8 9" fill="none">
                        <circle cx="4" cy="4.5" r="4" fill="#0DC268"/>
                    </svg>
                    ПН-ПН 09:00-18:00             
                </div>
            </div>

            <button class="btn-enter reset-btn" id="btn-reg" data-a11y-dialog-show="dialog-reg" type="button">
                Войти
            </button>
        </div>
    </nav>
</header>
